h1 {
    color: #f05f40;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {

    color: #f05f40 !important;

}

header.masthead p {

    color: #000000;
    font-weight: bold;
    font-size: 1.3rem;

}

.project-div {
	background: #f05f40 !important;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.project-category {
    text-align: left;
	color: #ffffff;
	font-size: 16px
}

.project-name {
	text-align: center;
	color: #ffffff;
	font-size: 22px
}